In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/jcmor/desktop/Ironhack/ironhack_service_account_big_query.json"
from google.cloud import bigquery

# Instantiates a client for BigQuery Service
client = bigquery.Client()

In [2]:
query1 = '''
SELECT   
    titleauthor.au_id AS AUTHOR_ID,
    titleauthor.title_id AS TITLE_ID,
    titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 AS ROYALTIES,
FROM
    `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
JOIN
    `ironhack-data-analytics-265219.publications.sales` sales
ON
    sales.title_id = titleauthor.title_id
JOIN
    `ironhack-data-analytics-265219.publications.titles` titles
ON
    titleauthor.title_id = titles.title_id
'''

In [3]:
query_job = client.query(query=query1)
df=query_job.to_dataframe()
df

      AUTHOR_ID TITLE_ID  ROYALTIES
0   899-46-2035   PS2091      1.971
1   899-46-2035   PS2091     49.275
2   899-46-2035   PS2091      6.570
3   899-46-2035   PS2091     13.140
4   846-92-7186   PC8888     50.000
5   213-46-8915   BU1032      3.998
6   213-46-8915   BU1032      7.996
7   267-41-2394   BU1111     11.950
8   267-41-2394   TC7777      8.994
9   899-46-2035   MC3021      4.485
10  899-46-2035   MC3021      2.691
11  724-80-9391   PS1372     10.795
12  756-30-7391   PS1372     32.385
13  722-51-5454   MC3021     13.455
14  722-51-5454   MC3021      8.073
15  724-80-9391   BU1111     17.925
16  409-56-7008   BU1032      5.997
17  409-56-7008   BU1032     11.994
18  427-17-2319   PC8888     50.000
19  998-72-3567   PS2091      1.971
20  998-72-3567   PS2091     49.275
21  998-72-3567   PS2091      6.570
22  998-72-3567   PS2091     13.140
23  672-71-3249   TC7777     11.992
24  486-29-1786   PS7777     19.975
25  648-92-1872   TC4203     33.460
26  998-72-3567   PS2106     17.500
27  238-95-7766   PC1035    110.160
28  807-91-6654   TC3218     83.800
29  712-45-1867   MC2222     23.988
30  172-32-1176   PS3333     29.985
31  213-46-8915   BU2075     25.116
32  274-80-9391   BU7832     29.985
33  472-27-2349   TC7777      8.994

In [4]:
query2 = '''
SELECT   
    titleauthor.au_id AS AUTHOR_ID,
    titleauthor.title_id AS TITLE_ID,
    SUM(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS ROYALTIES,
FROM
    `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
JOIN
    `ironhack-data-analytics-265219.publications.sales` sales
ON
    sales.title_id = titleauthor.title_id
JOIN
    `ironhack-data-analytics-265219.publications.titles` titles
ON
    titleauthor.title_id = titles.title_id
GROUP BY
    1,2
'''

In [6]:
query_job = client.query(query=query2)
df=query_job.to_dataframe()
df

      AUTHOR_ID TITLE_ID  ROYALTIES
0   899-46-2035   PS2091     70.956
1   846-92-7186   PC8888     50.000
2   213-46-8915   BU1032     11.994
3   267-41-2394   BU1111     11.950
4   267-41-2394   TC7777      8.994
5   899-46-2035   MC3021      7.176
6   724-80-9391   PS1372     10.795
7   756-30-7391   PS1372     32.385
8   722-51-5454   MC3021     21.528
9   724-80-9391   BU1111     17.925
10  409-56-7008   BU1032     17.991
11  427-17-2319   PC8888     50.000
12  998-72-3567   PS2091     70.956
13  672-71-3249   TC7777     11.992
14  486-29-1786   PS7777     19.975
15  648-92-1872   TC4203     33.460
16  998-72-3567   PS2106     17.500
17  238-95-7766   PC1035    110.160
18  807-91-6654   TC3218     83.800
19  712-45-1867   MC2222     23.988
20  172-32-1176   PS3333     29.985
21  213-46-8915   BU2075     25.116
22  274-80-9391   BU7832     29.985
23  472-27-2349   TC7777      8.994

In [87]:
query3 = '''
WITH 
    AUTHOR_ROYALTY
AS
(
    SELECT   
        titleauthor.au_id AS AUTHOR_ID,
        titleauthor.title_id AS TITLE_ID,
        titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 AS ROYALTIES,
        titles.advance * titleauthor.royaltyper / 100 AS ADVANCE
    FROM
        `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
    JOIN
        `ironhack-data-analytics-265219.publications.sales` sales
    ON
        sales.title_id = titleauthor.title_id
    JOIN
        `ironhack-data-analytics-265219.publications.titles` titles
    ON
        titleauthor.title_id = titles.title_id
)
SELECT
    AUTHOR_ID,
    AUTHOR_ROYALTY.TITLE_ID,
    SUM(AUTHOR_ROYALTY.ADVANCE + AUTHOR_ROYALTY.ROYALTIES) AS PROFIT
FROM
    AUTHOR_ROYALTY
GROUP BY
    1,2
ORDER BY 
    SUM(AUTHOR_ROYALTY.ADVANCE + AUTHOR_ROYALTY.ROYALTIES) DESC
LIMIT 3
'''

In [88]:
query_job = client.query(query=query3)
df=query_job.to_dataframe()
df

     AUTHOR_ID TITLE_ID     PROFIT
0  722-51-5454   MC3021  22521.528
1  213-46-8915   BU2075  10150.116
2  899-46-2035   MC3021   7507.176

In [97]:
sql='''
CREATE TABLE
    `ironhack-data-analytics-265219.publications.most_profiting_authors9`
AS
(
WITH 
    AUTHOR_ROYALTY
AS
(
    SELECT   
        titleauthor.au_id AS AUTHOR_ID,
        titleauthor.title_id AS TITLE_ID,
        titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 AS ROYALTIES,
        titles.advance * titleauthor.royaltyper / 100 AS ADVANCE
    FROM
        `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
    JOIN
        `ironhack-data-analytics-265219.publications.sales` sales
    ON
        sales.title_id = titleauthor.title_id
    JOIN
        `ironhack-data-analytics-265219.publications.titles` titles
    ON
        titleauthor.title_id = titles.title_id
)
SELECT
    AUTHOR_ID,
    AUTHOR_ROYALTY.TITLE_ID,
    SUM(AUTHOR_ROYALTY.ADVANCE + AUTHOR_ROYALTY.ROYALTIES) AS PROFIT
FROM
    AUTHOR_ROYALTY
GROUP BY
    1,2
ORDER BY 
    SUM(AUTHOR_ROYALTY.ADVANCE + AUTHOR_ROYALTY.ROYALTIES) DESC
LIMIT 3
)
'''

In [96]:
query_job = client.query(query=sql)